<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjzxy.fwpt.dao.LostInformationMapper">
<!--    int type, Date now, Date startDate-->
    <select id="findNumByTypeAndTime" resultType="INTEGER">
        select count(*) from lost_information
        <where>
            <if test="type != null and type >= 0">
                and type = #{type}
            </if>
            <if test="startDate != null">
                and lost_time &gt;= #{startDate}
            </if>
            <if test="now != null">
                and lost_time &lt;= #{now}
            </if>
        </where>
    </select>
    <select id="findLostInfoBySearch" resultMap="LostInfoResult" parameterType="com.sjzxy.fwpt.entity.LostSearch">
        select * from lost_information
        <where>
            <if test="type != null and type >= 0">
                and type = #{type}
            </if>
            <if test="kind_id != null and kind_id > 0">
                and kind_id = #{kind_id}
            </if>
            <if test="place_id != null and place_id > 0">
                and place_id = #{place_id}
            </if>
            <if test="search_key != null and search_key != ''">
                and (
                description like CONCAT('%',#{search_key},'%')
                or name like CONCAT('%',#{search_key},'%')
                or position like CONCAT('%',#{search_key},'%')
                )
            </if>
            <if test="lost_time1 != null">
                and lost_time &gt;= #{lost_time1}
            </if>
            <if test="lost_time2 != null">
                and lost_time &lt;= #{lost_time2}
            </if>
        </where>
    </select>
    <resultMap id="LostInfoResult" type="com.sjzxy.fwpt.entity.LostInformation">
        <!-- id定义主键列 -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <!-- result 定义一个列和属性的映射 -->
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <!-- lock.id 和  lock.name 叫级联属性映射 -->
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="kind_id" property="kindId"/>
        <result column="description" property="description"/>
        <result column="username" property="username"/>
        <result column="place_id" property="placeId"/>
        <result column="position" property="position"/>
        <result column="lost_time" property="lostTime"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="state_id" property="stateId"/>
    </resultMap>
</mapper>


