<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjzxy.fwpt.dao.MoodMapper">
<!--    int type, Date now, Date startDate-->
    <select id="findNumByTime" resultType="INTEGER">
        select count(*) from mood
        <where>
            <if test="startDate != null">
                and create_time &gt;= #{startDate}
            </if>
            <if test="now != null">
                and create_time &lt;= #{now}
            </if>
        </where>
    </select>
</mapper>


